<?xml version='1.0' encoding='utf-8'?>
<widget id="org.js.munhumutapaalpha" version="2.1.1" 
xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Munhumutapa</name>
    <description>
A mobile wallet for the Munhumutapa blockchain
    </description>
    <author email="munhumutapaalpha@outlook.com" href="munhumutapaalpha.js.org">Munhumutapa Dev Team
    </author>
    <version>2.1.1</version>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="FadeSplashScreenDuration" value="5000" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="25" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" src="img/splash.png" />
    <preference name="loadUrlTimeoutValue" value="60000" />
<icon src="www/icon.source.png" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <allow-intent href="market.*" />
    </platform>
    <engine name="android" />
    <variable name="ANDROID_SUPPORT_V4_VERSION" value="26.1.0" /> 
    <plugin name="cordova-plugin-android-permissions"/>
    <plugin name="cordova-plugin-console"/>
    <plugin name="cordova-plugin-device"/>
    <plugin name="cordova-plugin-file-chooser"/>
    <plugin name="tobo-cordova-plugin-inappbrowser"/>
    <plugin name="cordova-plugin-splashscreen"/>
    <plugin name="cordova-plugin-statusbar"/>
    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-qrcodescan"/>
    <plugin name="sc-cordova-diagnostic-plugin-npm"/>
    <plugin name="ionic-plugin-keyboard"/>
    <plugin name="cordova-android-support-v13"/>
</widget>
